.icon_available {
  color: green;
}
.icon_unavailable {
  color: red;
}

.button-loan-addproduct {
  background: #2f9c2d;
  width: 100px;
  color: white;
  border: none;
}

.button-loan-removeproduct {
  background: #a3261d;
  width: 100px;
  color: white;
  border: none;
}
