<div>
  <p>Produktliste</p>
  <div class="addData">
    <p>
      <button type="button">Neues Produkt</button>
      <button type="button">Neuer Kunde</button>
    </p>
  </div>
  <div returnLoan>
    <p>
      <button type="button">Produkt zurückgeben</button>
    </p>
  </div>
  <div class="productSearch">
    <p>
      Suche: <input type = "text"/>
      <button type="button">Filter</button>
    </p>
  </div>
  <div class="productTable">

    <table mat-table [dataSource]="products" class="mat-elevation-z8">

      <ng-container matColumnDef="isbn">
        <th mat-header-cell *matHeaderCellDef> ISBN </th>
        <td mat-cell *matCellDef="let element"> {{element.isbn}} </td>
      </ng-container>

    </table>

  </div>
  <div class="receiveLoan">
    <p>
      <button type="button">Ausgewählte Elemente leihen</button>
    </p>
  </div>

</div>
